<div id="exampleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></button>
            </div>
            <div class="modal-body">
                <h1 class="text-danger text-center"><i class="ti-help-alt"></i></h1>
                <h4 class="text-center"><strong>Are you sure you want to delete?</strong></h4>
            </div>
            <div class="modal-footer">
                <a href="{{ link }}">
                    <button type="button" class="btn btn-danger waves-effect" >Delete</button>
                </a>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>