{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}"> 
            <i class="ti-check"></i>  {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true"><i class="ti-close"></i></span> </button>
        </div>
    {% endfor %}
{% endfor %}